<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <div th:replace="layout/template :: css"></div>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    <div th:replace="layout/template :: navbar"></div>
    <div th:replace="layout/template :: main-slidebar"></div>
    <div class="content-wrapper">
      <div th:replace="layout/template :: content-header"></div>
      <div th:replace="layout/template :: content"></div>
    </div>
    <div th:replace="layout/template :: footer"></div>
    <div th:replace="layout/template :: javascript"></div>
  </div>
</body>

</html>